{% extends "Booking_System/layout.html" %}
{% block title %}
Now Showing
{% endblock %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="container ">

        <div class="tab-bar" id="tab-bar">
            {% for day in days_of_week %}
            <div class="tab">
                <button id="{{ day|lower }}" data-day="{{ day|lower }}" onclick="filterFilms(event)">{{ day }}</button>  
            </div>
            {% endfor %}
        </div>
        
        <table class="showing-table">
            <thead>
            <tr>
                <th id="title-row" colspan="7">Now Showing</th>
            </tr>
            </thead>
            <tbody>
            {% if screens %}
                    {% for screen in screens %}
                        <tr>
                            <td colspan="4">Screen {{ screen.screen_number }}</td>
                        </tr>
                        {% if screen.show_times.exists %}
                            <td>
                                <div class="film-info">
                                    <div class="film-image-title">
                                        <div class="film-title">{{ screen.show_times.first.film.title }}</div>
                                        <img class="now-showing-img" src="{{ screen.show_times.first.film.image.url }}" alt="{{ screen.show_times.first.film.title }} Image">
                                    </div>
                                    <div class="film-details">
                                        <p><strong>Age Rating:</strong> {{ screen.show_times.first.film.age_rating }}</p>
                                        <p><strong>Duration:</strong> {{ screen.show_times.first.film.duration }} minutes</p>
                                        <p><strong>Description:</strong> {{ screen.show_times.first.film.description }}</p>
                                   
                                    </div>
                                    <div class="showing-times">
                                        <ul class="list-group">
                                        {% for show_time in screen.show_times.all %}
                                            <li class="list-group-item text-dark">
                                            {{ show_time.start_time|date:"l" }}:
                                            <span  class="time-box"><a href="{% url 'ticket_selection_booking' show_time.id %}" style="text-decoration:none;color:white;">
                                                {{ show_time.start_time|date:"H:i A" }} </a></span>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        {% else %}
                            <td colspan="2">No showing on this screen.</td>
                        {% endif %}
                    {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No showing today.</td>
                </tr>
            {% endif %} 
            </tbody>
        </table>

    </div>

    <script>   
        function filterFilms(event) {
            var button = event.target;
            var selectedDay = button.getAttribute('data-day');
            
            fetch('/now_showing?day=' + selectedDay)
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Failed to load data');
                    }
                })
                .then(function (html) {
                    var parser = new DOMParser();
                    var doc = parser.parseFromString(html, 'text/html');
                    var newTable = doc.querySelector('.showing-table');
                    
                    var oldTable = document.querySelector('.showing-table');
                    oldTable.parentNode.replaceChild(newTable, oldTable);
                    
                    var buttons = document.querySelectorAll('.tab button');
                    buttons.forEach(function (btn) {
                        btn.classList.remove('active');
                        btn.style.backgroundColor = '';
                    });
                    
                    button.classList.add('active');
                    button.style.backgroundColor = '#A4A2A1'; 
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        }      
    </script>
   
{% endblock %}