{% extends "Booking_System/layout.html" %}
{% block title %}
Pending Club Registrations
{% endblock %}

{% block content %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="container">
        <h2>Pending Club Registrations Request</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Club Name</th>
                    <th>Representative Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if pending_club_reps %}
                    {% for club_rep in pending_club_reps %}
                    <tr>
                        <td>{{ club_rep.club.name }}</td>
                        <td>{{ club_rep.user.first_name }} {{ club_rep.user.last_name }}</td>
                        <td>
                            <a href="{% url 'approve_club_registration' club_rep.pk %}" class="btn btn-success">Approve</a>
                            <a href="{% url 'decline_club_registration' club_rep.pk %}" class="btn btn-danger">Decline</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <td>You have currently no pending registration request.</td>
                  {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}